body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  list-style: none;
}

.button-theme, .modal-form__button, .newsletter__button, .background__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__button {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.page-header__button:hover svg, .page-header__button:focus svg {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}
.nav__list {
  display: none;
}
.nav__item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover, .nav__item:focus {
  color: #2196f3;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item--active, .nav__item--portfolio {
  text-decoration: none;
  position: relative;
  color: #2196f3;
}
.nav__item--active::after, .nav__item--portfolio::after {
  position: absolute;
  display: block;
  content: "";
  width: 53px;
  height: 4px;
  border-radius: 2px;
  cursor: unset;
  pointer-events: none;
  top: 68px;
  left: 22px;
  background-color: #2196f3;
}
.nav__item--portfolio::after {
  width: 58px;
}

.menu {
  display: none;
}
.menu__icon {
  margin-right: 10px;
  fill: #757575;
}
.menu__contact {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}
.menu__contact:hover svg, .menu__contact:focus svg {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact:hover, .menu__contact:focus {
  color: #2196f3;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contact--space {
  margin-left: 30px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  min-width: 40px;
  top: 16px;
  right: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.mobile-menu__icon:hover svg, .mobile-menu__icon:focus svg {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.02em;
  font-weight: 500;
  gap: 32px;
}
.mobile-menu__link {
  font-size: 40px;
  color: #212121;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link--active {
  color: #2196f3;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.mobile-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-menu__contacts:hover, .mobile-menu__contacts:focus {
  color: #2196f3;
}
.mobile-menu__contact {
  font-size: 24px;
  color: #757575;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__contact:hover, .mobile-menu__contact:focus {
  color: #2196f3;
}
.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__social-item {
  padding-right: 10px;
}
.mobile-menu__social-item:not(:last-of-type) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu__icon {
    display: none;
  }
}
.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo--color {
  color: #2196f3;
}
.logo--footer {
  color: getColor "white";
}

.background {
  background-color: #2f303a;
}
.background__container__container {
  min-width: 320px;
  max-width: 1600px;
}
@media screen and (min-width: 1200px) {
  .background__container__container {
    margin: 0 auto;
  }
}
.background__image {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.15))), url(../images/background-image.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.15) 100%), url(../images/background-image.jpg);
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.background__flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 400px;
}
@media screen and (min-width: 1200px) {
  .background__flex {
    height: 600px;
  }
}
.background__heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .background__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}
.background__button:hover, .background__button:focus {
  background: #ffffff;
  color: #000000;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background .background__image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.15))), url(../images/background-image@2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.15) 100%), url(../images/background-image@2x.jpg);
  }
}

.offer, .choices {
  min-width: 320px;
  padding: 60px 15px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .offer, .choices {
    padding: 94px 0 0;
  }
}
.offer__container {
  max-width: 1200px;
  margin: 0 auto;
}
.offer__flex {
  margin-bottom: 60px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer__flex > li {
  max-width: 450px;
}
.offer__box {
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__heading {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}
.offer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}
.offer__icon {
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .offer .offer__flex, .choices .offer__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer .offer__flex > li, .choices .offer__flex > li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .offer .offer__heading, .choices .offer__heading {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .offer .offer__flex, .choices .offer__flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.activity {
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    padding: 94px 0;
    display: block;
  }
}
.activity__container {
  max-width: 1200px;
  margin: 0 auto;
}
.activity__heading, .team__heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .activity__heading, .team__heading {
    font-size: 36px;
    line-height: 1.17;
  }
}
.activity__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.activity__flex li {
  position: relative;
}
.activity__type {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  padding: 27px;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team__container {
  max-width: 1200px;
  margin: 0 auto;
}
.team__flex {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__flex > li {
  width: calc(100% - 30px);
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .team__heading {
    font-size: 36px;
    line-height: 1.17;
  }
}
.team__info {
  margin: auto 0;
  padding: 0 0 24px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.team__specialization {
  font-weight: 400;
  line-height: 1.18;
  margin-bottom: 16px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .team .team__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 15px;
  }
  .team .team__flex > li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team .team__info {
    max-width: 270px;
    padding: 0 0 30px 0;
  }
}
.team .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.team .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
}
.team .social__icon--size, .team .join-us__social--size {
  width: 20px;
  height: 20px;
}
.team .social__icon:hover, .team .social__icon:focus {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
}
.clients__container {
  max-width: 1200px;
  margin: 0 auto;
}
.clients__heading {
  font-weight: 700;
  font-size: 28px;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .clients__heading {
    font-size: 36px;
    line-height: 1.17;
  }
}
.clients__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  width: 210px;
  height: 92px;
}
.clients__logo:hover, .clients__logo:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  cursor: pointer;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__logo {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .customers__logo {
    width: 170px;
    height: 92px;
  }
}
.footer {
  height: 252px;
  background-color: #2f303a;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  gap: 70px;
}

.address {
  margin-top: 20px;
}
.address__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  padding-top: 9px;
  color: #ffffff;
}
.address__item--contact {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.address__item--contact:hover, .address__item--contact:focus {
  color: #ffffff;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:hover, .address__item:focus {
  color: #ffffff;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us, .newsletter {
  margin-top: 12px;
}
.join-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.join-us__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.join-us__social:hover, .join-us__social:focus {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
}
.join-us__heading, .newsletter__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.newsletter__form input[type=email] {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 157px 15px 16px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  margin-top: 20px;
  outline: none;
  color: #ffffff;
}
.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 12px;
}
.newsletter__button:hover, .newsletter__button:focus {
  background: #ffffff;
  color: #000000;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__button:hover .newsletter__icon, .newsletter__button:focus .newsletter__icon {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: #ffffff;
}
.newsletter__icon:hover, .newsletter__icon:focus {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.modal__button:hover .modal__icon, .modal__button:focus .modal__icon {
  opacity: 0.5;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  width: 17px;
  height: 17px;
  fill: #000000;
}
.modal__header {
  font-size: 20px;
  text-align: center;
  margin: 40px 0 12px;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: auto;
  width: 448px;
}
.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 448px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
}
.modal-form__label:hover .modal-form__icon, .modal-form__label:focus .modal-form__icon {
  fill: #2196f3;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input {
  height: 40px;
  margin-top: 4px;
  padding-left: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid #2196f3;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border: 1px solid #2196f3;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 10px;
  fill: #212121;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 7px;
  font-size: 14px;
}
.modal-form__checkbox a {
  color: #2196f3;
}
.modal-form__checkbox a:hover, .modal-form__checkbox a:focus {
  opacity: 0.5;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__check {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #757575;
}
.modal-form__check:checked + .modal-form__check--icon {
  display: block;
  border-radius: 2px;
  background-color: #2196f3;
  fill: #ffffff;
}
.modal-form__check:checked {
  display: none;
}
.modal-form__check--icon {
  display: none;
  width: 16px;
  height: 15px;
}
.modal-form__button:hover, .modal-form__button:focus {
  background: #ffffff;
  color: #000000;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.options__button {
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}
.options__button:hover, .options__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.products__card {
  border: 1px solid #eeeeee;
}
.products__card:hover, .products__card:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.products__card:hover .products__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.products__box {
  position: relative;
  overflow: hidden;
}
.products__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 49px 45px 49px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  color: #ffffff;
}
.products__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
  color: #212121;
}
.products__description {
  font-weight: 400;
  line-height: 1.88;
  margin-left: 24px;
  margin-bottom: 20px;
  color: #757575;
}/*# sourceMappingURL=main.css.map */