:root {
  --active-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --links-color-header: #757575;
  --links-color-footer: #ffffff99;
  --text-color-dark: #212121;
  --text-color-light: #757575;
  --bg-color-white: #ffffff;
  --bg-color-lightgrey: #e5e5e5;
  --bg-color-grey: #f5f4fa;
  --bg-color-darkgrey: #2f303a;
  --header-border-gray: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: var(--bg-color-lightgrey);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: var(--logo-color-header);
  padding-right: 93px;
}

.logo-color {
  color: var(--active-color);
}

.page-header {
  border-bottom: 1px solid var(--header-border-gray);
}

.page-header,
.page-main {
  background-color: var(--bg-color-white);
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-item {
  text-decoration: none;
  color: var(--text-color-dark);
  padding: 23px;
}

.menu-item-active {
  color: var(--active-color);
  text-decoration: none;
}

.menu-contact {
  text-decoration: none;
  color: var(--links-color-header);
}

.menu-contact-space {
  margin-left: 50px;
}

.menu-item:hover,
.menu-item:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--active-color);
}

.background {
  background-color: var(--bg-color-darkgrey);
  text-align: center;
  display: flex;
  height: 600px;
}

.background-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
}
.button-item {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--bg-color-white);
  background-color: var(--active-color);
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-item:hover,
.button-item:focus {
  background: var(--bg-color-grey);
  color: var(--active-color);
}

.section-padding-top {
  padding-top: 94px;
}

.section-padding-bottom {
  padding-bottom: 94px;
}

.offer {
  background-color: var(--bg-color-white);
}

.offer-flex {
  display: flex;
  gap: 30px;
}

.offer-heading {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color-dark);
  margin-bottom: 10px;
}

.offer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color-light);
}

.activity {
  background-color: var(--bg-color-white);
}

.activity-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 50px;
}

.activity-flex {
  display: flex;
  justify-content: space-between;
}

.team {
  background-color: var(--bg-color-grey);
}

.team-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.team-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 50px;
}

.team-border {
  background-color: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  line-height: 1.18;
  color: var(--text-color-dark);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-specialization {
  line-height: 1.18;
  color: var(--text-color-light);
  margin-bottom: 30px;
}

.footer {
  background-color: var(--bg-color-darkgrey);
  height: 252px;
}

.logo-color-footer {
  color: var(--logo-color-footer);
}

.address-padding {
  padding-top: 60px;
}

.address {
  margin-top: 20px;
}

.address-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  color: var(--bg-color-white);
  padding-top: 9px;
}

.address-item-contact {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus,
.address-item-contact:hover,
.address-item-contact:focus {
  color: var(--bg-color-white);
}

.choices {
  background-color: var(--bg-color-white);
}

.choices-button {
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
  color: var(--text-color-dark);
  background-color: var(--bg-color-grey);
}

.choices-button:hover,
.choices-button:focus {
  color: var(--bg-color-white);
  background-color: var(--active-color);
}

.products-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-dark);
}

.products-description {
  font-weight: 400;
  line-height: 1.88;
  color: var(--text-color-light);
}
