:root {
  --active-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --links-color-header: #757575;
  --links-color-footer: #ffffff99;
  --text-color-dark: #212121;
  --text-color-light: #757575;
  --bg-color-white: #ffffff;
  --bg-color-lightgrey: #e5e5e5;
  --bg-color-grey: #f5f4fa;
  --bg-color-darkgrey: #2f303a;
  --header-border-gray: #ececec;
  --logo-color-gray: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: var(--logo-color-header);
  padding-right: 93px;
}

.logo-color {
  color: var(--active-color);
}

.page-header {
  border-bottom: 1px solid var(--header-border-gray);
}

.page-header,
.page-main {
  background-color: var(--bg-color-white);
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-icon {
  fill: var(--links-color-header);
  margin-right: 10px;
}

.menu-item {
  text-decoration: none;
  color: var(--text-color-dark);
  padding: 23px;
}

.menu-item-active {
  color: var(--active-color);
  text-decoration: none;
}

.present-tab,
.present-tab-portfolio {
  color: var(--active-color);
  position: relative;
}

.present-tab::after {
  position: absolute;
  display: block;
  content: "";
  width: 53px;
  height: 4px;
  border-radius: 2px;
  cursor: unset;
  pointer-events: none;
  background-color: var(--active-color);
  top: 68px;
  left: 22px;
}

.present-tab-portfolio::after {
  position: absolute;
  display: block;
  content: "";
  width: 58px;
  height: 4px;
  border-radius: 2px;
  cursor: unset;
  pointer-events: none;
  background-color: var(--active-color);
  top: 68px;
  left: 22px;
}

.menu-contact {
  text-decoration: none;
  color: var(--links-color-header);
  display: flex;
  align-items: center;
}

.menu-contact:hover svg,
.menu-contact:focus svg {
  fill: var(--active-color);
}

.menu-contact-space {
  margin-left: 30px;
}

.menu-item:hover,
.menu-item:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--active-color);
}

.background {
  background-color: var(--bg-color-darkgrey);
  text-align: center;
  display: flex;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}

.background-image {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgb(47 48 58 / 15%) 100%
    ),
    url(../images/background-image.jpg);
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}

.background-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
}
.button-item {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--bg-color-white);
  background-color: var(--active-color);
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-item:hover,
.button-item:focus {
  background: var(--bg-color-grey);
  color: var(--active-color);
}

.section-padding-top {
  padding-top: 94px;
}

.section-padding-bottom {
  padding-bottom: 94px;
}

.offer {
  background-color: var(--bg-color-white);
}

.offer-flex {
  display: flex;
  gap: 30px;
}

.offer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.offer-heading {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color-dark);
  margin-bottom: 10px;
}

.offer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color-light);
}

.activity,
.clients {
  background-color: var(--bg-color-white);
}

.activity-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 50px;
}

.activity-flex {
  display: flex;
  justify-content: space-between;
}

.activity-flex li {
  position: relative;
}

.activity-type {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--bg-color-white);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  padding: 27px;
  top: 224px;
}

.team {
  background-color: var(--bg-color-grey);
}

.team-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.team-heading,
.clients-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 50px;
}

.team-border {
  background-color: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color-dark);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-specialization {
  font-weight: 400;
  line-height: 1.18;
  color: var(--text-color-light);
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-white);
  fill: var(--logo-color-gray);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-icon-size {
  width: 20px;
  height: 20px;
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--active-color);
  fill: var(--bg-color-white);
  cursor: pointer;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-logo {
  border: 1px solid var(--logo-color-gray);
  border-radius: 4px;
  fill: var(--logo-color-gray);
}

.clients-logo:hover,
.clients-logo:focus {
  border: 1px solid var(--active-color);
  fill: var(--active-color);
  cursor: pointer;
}

.footer {
  background-color: var(--bg-color-darkgrey);
  height: 252px;
}

.logo-color-footer {
  color: var(--logo-color-footer);
}

.footer-flex {
  display: flex;
  padding-top: 60px;
  gap: 70px;
}

.address {
  margin-top: 20px;
}

.address-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  color: var(--bg-color-white);
  padding-top: 9px;
}

.address-item-contact {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus,
.address-item-contact:hover,
.address-item-contact:focus {
  color: var(--bg-color-white);
}

.join-us {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--logo-color-footer);
}

.join-us-margin {
  margin-top: 12px;
}

.footer-social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--bg-color-white);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  color: var(--bg-color-white);
  background-color: var(--active-color);
  cursor: pointer;
}
.choices {
  background-color: var(--bg-color-white);
}

.choices-options {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.choices-button {
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
  color: var(--text-color-dark);
  background-color: var(--bg-color-grey);
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  text-align: center;
}

.choices-button:hover,
.choices-button:focus {
  color: var(--bg-color-white);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.products-box {
  background: var(--bg-color-white);
  border: 1px solid #eeeeee;
}

.products-box:hover,
.products-box:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-dark);
  margin: 20px 24px 4px;
}

.products-description {
  font-weight: 400;
  line-height: 1.88;
  color: var(--text-color-light);
  margin-left: 24px;
  margin-bottom: 20px;
}
