:root {
  --active-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --links-color-header: #757575;
  --links-color-footer: #ffffff99;
  --text-color-dark: #212121;
  --text-color-light: #757575;
  --bg-color-white: #ffffff;
  --bg-color-lightgrey: #e5e5e5;
  --bg-color-grey: #f5f4fa;
  --bg-color-darkgrey: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: var(--bg-color-lightgrey);
}

.logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--logo-color-header);
}

.logo-color {
  color: var(--active-color);
}

.page-header,
.page-main {
  background-color: var(--bg-color-white);
}

.menu {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-item {
  text-decoration: none;
  list-style: none;
  color: var(--text-color-dark);
}

.menu-item-active {
  color: var(--active-color);
}

.menu-contact {
  text-decoration: none;
  list-style: none;
  color: var(--links-color-header);
}

.menu-item:hover,
.menu-item:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--active-color);
}

.background {
  background-color: var(--bg-color-darkgrey);
  text-align: center;
}

.background-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  text-align: center;
}
.button-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--bg-color-white);
  background-color: var(--active-color);
}

.button-item:hover,
.button-item:focus {
  background: var(--bg-color-grey);
  color: var(--active-color);
}

.offer {
  background-color: var(--bg-color-white);
}

.offer-heading {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
}

.offer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}

.activity {
  background-color: var(--bg-color-white);
}

.activity-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
}

.team {
  background-color: var(--bg-color-grey);
}

.team-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
}

.team-specialization {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}

.footer {
  background-color: var(--bg-color-darkgrey);
}

.logo-color-footer {
  color: var(--logo-color-footer);
}

.address-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--bg-color-white);
}

.address-item-contact {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
