.footer {
    margin: 0 auto;
    width: 100%;
    background-color: getColor("darkgray");

    &__container {
        gap: 60px;
        padding: 60px 15px;
        @include flex(center);
        flex-direction: column;
    }

    &__flex {
        @include flex(center);
        flex-direction: column;
    }
}

.address {
    
    @include flex(center);
    gap: 8px;
    margin-top: 20px;
    flex-direction: column;

    &__item {
        color: getColor("white");
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;

        &--contact {
            text-decoration: none;
            font-style: normal;
            color: getColor("footer-address");
            
            &:hover,
            &:focus {
                color: getColor("white");
                @include transition(color);
            }
        }

        &:hover,
        &:focus {
            color: getColor("white");
            @include transition(color); 
        }
    }
}

.join-us {
    @include flex(center);
    flex-direction: column;
    
    &__list {
        @include flex(center);
        gap: 10px;
        margin-top: 20px;
    }

    &__social {
        border-radius: 50%;
        background: getColor("footer-social");
        fill: getColor("white");

        &:hover,
        &:focus {
            @include transition(fill);
            cursor: pointer;
            background-color: getColor("blue");
            fill: getColor("white");
        }
    }

    &__heading {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: getColor("white");
    }
}

.newsletter {
    @extend .join-us;
    width: 100%;

    &__heading {
        @extend .join-us__heading;
    }

    &__form {
        @include flex(center);
        flex-direction: column;
        width: 100%;
    }

    &__input {
            @include border(getColor("footer-newsletter"));
            width: calc(100vw - 30px);
            min-width: 290px;
            height: 50px;
            background-color: transparent;
            border-radius: 4px;
            padding: 15px;
            margin-top: 20px;
            color: getColor("white");
            outline: none;
    }

    &__button {
        @extend .button-theme;
        @include flex(center);
        margin-top: 20px;
        margin-right: 28px;

        &:hover,
        &:focus {
            background: getColor("white");
            color: getColor("black");
            @include transition(color);
        }

        &:hover .newsletter__icon,
        &:focus .newsletter__icon {
            fill: getColor("blue");
            @include transition(fill);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 24px;
        fill: getColor("white");

        &:hover,
        &:focus {
            fill: getColor("blue");
            @include transition(fill);
        }
    }
}

@media screen and (min-width: $screenTablet) {
    .footer {
        &__container {
            @include flex(space-around);
            width: $screenTablet;
            margin: 0 auto;
            align-items: baseline;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;

        }
    }

    .join-us,
    .newsletter {
        margin-top: 0;
    }

    .newsletter__input {
        width: 450px;
    }
}

@media screen and (min-width: $screenDesktop) {
    .footer {
        &__container {
            @include flex(space-between);
            width: $screenDesktop;
            margin: 0 auto;
            flex-wrap: nowrap;
            align-items: baseline;
            padding: 60px 0;
        }

        &__flex {
            align-items: flex-start;
    }
}
    .address,
    .join-us {
        align-items: flex-start; 
    }

    .newsletter {
        align-items: flex-start;
        width: fit-content;

        &__form {
            display: flex;
            flex-direction: row; 
        }
        
        &__input {
            width: 358px;
            background-color: transparent;
            border-radius: 4px;
            margin-top: 20px;
            color: getColor("white");
            @include border(getColor("footer-newsletter"));
            outline: none;

            &:hover,
            &:focus {
                @include border(getColor("blue"));
            }
        }
    }
}

@media screen and (min-width: $screenDesktop) {
    .newsletter__button{
    margin-left: 12px;
    }
}

