.footer {
    height: 252px;
    background-color: getColor("darkgray");

    &__flex {
        display: flex;
        padding-top: 60px;
        gap: 70px;
    }
}

.address {
    margin-top: 20px;

    &__item {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        font-style: normal;
        padding-top: 9px;
        color: getColor("white");

        &--contact {
            text-decoration: none;
            font-style: normal;
            color: getColor("footer-address");
            
            &:hover,
            &:focus {
                color: getColor("white");
                @include transition(color);
            }
        }

        &:hover,
        &:focus {
            color: getColor("white");
            @include transition(color); 
        }
    }
}

.join-us {
    margin-top: 12px;
    
    &__list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    &__social {
        @include flex(center);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background: getColor("footer-social");
        fill: getColor("white");

        &:hover,
        &:focus {
            @include transition(fill);
            cursor: pointer;
            background-color: getColor("blue");
            fill: getColor("white");
        }

        &--size {
            @extend .social__icon--size;
        }
    }

    &__heading {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: getColor("gray-footer");
    }
}

.newsletter {
    @extend .join-us;

    &__heading {
        @extend .join-us__heading;
    }

    &__form {
        display: flex;

        input[type="email"] {
            @include border(getColor("footer-newsletter"));
            padding: 15px 157px 15px 16px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            background-color: transparent;
            border-radius: 4px;
            margin-top: 20px;
            outline: none;
            color: getColor("white");
        }
    }

    &__button {
        @extend .button-theme;
        @include flex(center);
        margin-top: 20px;
        margin-left: 12px;

        &:hover,
        &:focus {
            background: getColor("white");
            color: getColor("black");
            @include transition(color);
        }

        &:hover .newsletter__icon,
        &:focus .newsletter__icon {
            fill: getColor("blue");
            @include transition(fill);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 24px;
        fill: getColor("white");

        &:hover,
        &:focus {
            fill: getColor("blue");
            @include transition(fill);
        }
    }
}
