.offer {
    min-width: $screenMinWidth;
    padding: 60px 15px 0;
    margin: 0 auto;

    @media screen and (min-width: $screenDesktop) {
        padding: 94px 0 0;
    }

    &__container {
        max-width: $screenDesktop;
        margin: 0 auto;
    }


    &__flex {
        margin-bottom: 60px;
        gap: 30px;
        @include flex(center);
        flex-direction: column;

        > li {
            max-width: 450px;
        }
    }

    &__box {
        padding: 25px 0;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: getColor("gray-second");
        @include flex(center);
    }

    &__heading {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px; 
        color: getColor("black-second");
        text-align: center;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        color: getColor("gray");
    }

    &__icon {
        fill: getColor("gray");
    }

    @media screen and (min-width: $screenTablet) {
        .offer__flex {
            flex-direction: row;
            flex-wrap: wrap;
    
        > li {
            flex-basis: calc((100% - 30px) / 2);
        }
        }
    
        .offer__heading {
            text-align: left;
        }
    }
    
    @media screen and (min-width: $screenDesktop) {
        .offer__flex {
            flex-wrap: nowrap;
            margin: 0;
        }
}
}