$colors: (
    "blue": #2196f3,
    "black": #000000,
    "white": #ffffff,
    "gray":#757575,
    "gray-footer": #ffffff99,
    "black-second": #212121,
    "lightgray": #e5e5e5,
    "gray-second": #f5f4fa,
    "darkgray": #2f303a,
    "bg-backdrop": rgba(000, 000, 000, 0.2),
    "header-border": #ececec,
    "logo": #afb1b8,
    "placeholder": #75757580,
    "bg-activity": rgba(47, 48, 58, 0.8),
    "footer-address": rgba(255, 255, 255, 0.6),
    "footer-social": rgba(255, 255, 255, 0.1),
    "footer-newsletter": rgba(255, 255, 255, 0.3),
    "modal-input": rgba(33, 33, 33, 0.2),
    "white-footer": #eeeeee,
);

@function getColor($key) {
    @return map-get($colors, $key);
}

// screen breakpoints

$screenMinWidth: 320px;
$screenMobile: 480px;
$screenTablet: 768px;
$screenDesktop: 1200px;